* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid #4285B4;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width: 576px) {
    .post {
        flex-wrap: wrap;
    }
}

.post__btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-nums {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.page {
    padding: 10px;
    border: 1px solid #4285B4;
    color:#4285B4;
    cursor: pointer;
}

.page__current {
    font-weight: bold;
    color: #206392;
    border: 2px solid #206392;
}

.item-enter, .item-appear {
    opacity: 0;
    transform: translateX(-150px);
}

.item-enter-active, .item-appear-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transform: translateX(150px);
    transition: all 500ms ease-in;
}


.post-id__container {
    padding: 15px;
    border: 1px solid #4285B4;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-id__title, .comments__title {
    text-align: center;
    margin-bottom: 10px;
}

.comments__item {
    padding: 20px; 
    border: 1px solid #4285B4;
    margin-bottom: 10px;
}

.about__title {
    color: #4285B4;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.about__subtitle {
    margin-bottom: 10px;
}

.about__item {
    margin-left: 20px;
    margin-bottom: 5px;
}

.about__container {
    padding: 10px 30px;
    border: 1px solid #4285B4;
}